$mint: #00D4EA;
$green: #09E27C;
$black06: #060606;
$black33:#333;
$gray1e: #1e2530;
$gray55: #555d67;
$gray83: #838a93;
$gray:#999;
$graya5: #a5acb8;
$graye5: #E5E8F0;
$grayd6: #d6d9e1;
$grayf4: #f4f5fb;
$white:#fff;
//$gray1e: #1E2530;
$orange: #ff6a13;
$bg_gray:#f5f5f5;
$transparent:transparent;
